@page "/limpieza/cedulasEvaluacion/{moduloId}/{submoduloId}/index"
@model Clients.WebClient.Pages.Limpieza.CedulasEvaluacion.IndexModel
@{
    ViewData["Title"] = "Servicio de Limpieza en Áreas Comunes y Oficinas";

    <div class="titulo-principal">
        <b>Servicio de @Model.Servicio.Descripcion</b> <i class="fad fa-soap mr-2"></i>
    </div>

    ViewData["Action"] = "Inicio";
}

<div class="container-fluid">
    <form method="get" id="getAnio" asp-page-handler="GetAnio">
        <div class="row col-3">
            <label class="label">Consultar información del año: </label>
            <div class="input-group mb-3">
                <select class="form-control" id="anioActual" asp-for="Anio">
                    <option value="">Seleccione el Año</option>
                    @for (var i = 2022; i <= DateTime.Now.Year; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <div class="row">
                    <button class="btn btn-primary ml-3" id="consultarFacturas" type="submit">Consultar</button>
                </div>
            </div>
        </div>
    </form>
    @if (Model.Cedulas != null && Model.Cedulas.Count() > 0)
    {
        <div class="row col-lg-12">
            <div class="row col-lg-12">
                <h5>Cédulas de Evaluación del año @Model.Anio</h5>
            </div>
            @foreach (var item in Model.Cedulas)
            {
                <div class="col-lg-3">
                    <div class="small-box text-white" style="background-color: @item.Mes.Fondo">
                        <div class="inner mt-2">
                            <div class="form-row mt-2">
                                <strong><p>@item.Mes.Nombre - @item.Contrato.NoContrato</p></strong>
                            </div>
                            <h6>Cédulas de Evaluación - @item.TotalCedulas Cédula(s)</h6>
                        </div>
                        <div class="icon">
                            <i class="fal fa-building mt-2"></i>
                        </div>
                        <a href="~/limpieza/@Model.Modulo.Id/@Model.Submodulo.Id/facturacion/@item.Anio/@item.MesId/@item.ContratoId" class="small-box-footer moreInformation" data-mes="@item.Mes.Nombre">
                            Detalle <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    }
</div>

<style>
    .titulo-principal {
        font-family: Arial, sans-serif;
        font-size: 20px;
        color: #24135f;
        text-align: left;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        animation: fadeIn 2s ease-in-out;
        font-weight: bold;
        position: relative; /* Agrega esta línea */
        top: -20px; /* Ajusta el valor según sea necesario */
        right: -10px;
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>
@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            var anio = @Html.Raw(Json.Serialize(DateTime.Now.Year))
            var anioM = @Html.Raw(Json.Serialize(Model.Anio))

            $("#anioActual").val(anioM != 0 ? anioM : anio);

            $(".moreInformation").click(function () {
                Swal.fire({
                    allowOutsideClick: false,
                    icon: "info",
                    title: "Servicio de Limpieza en Áreas Comunes y Oficinas",
                    html: "Obteniendo el listado de cédulas de <b>" +$(this).data('mes')+" - "+ $("#anioActual").val() + "</b>."
                })
                Swal.showLoading();
            });

            $('#getAnio').validate({
                rules: {
                    Anio: {
                        required: true,
                    },
                },
                messages: {
                    Anio: {
                        required: "Por favor seleccione el año a consultar",
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.input-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                },
                submitHandler: function (form) {
                    Swal.fire({
                        allowOutsideClick: false,
                        icon: "info",
                        title: "Servicio de Limpieza en Áreas Comunes y Oficinas",
                        html: "Obtiendo las cédulas del año <b>" + $("#anioActual").val() + "</b>."
                    })
                    Swal.showLoading();
                    form.submit();
                }
            });
        });
    </script>
}