@page "/"
@model IndexModel
@{
    ViewData["Titulo"] = "Dashboard de Servicios - "+Model.Anio;
    ViewData["Title"] = "Página Principal";
}

<div class="container-fluid">
    <form method="get" id="getAnio" asp-page-handler="GetAnio">
        <div class="row col-lg-4">
            <label class="label">Consultar información del año: </label>
            <div class="input-group mb-3">
                <select class="form-control" id="anioActual" asp-for="Anio">
                    <option value="">Seleccione el Año</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
                <div class="row">
                    <button class="btn btn-primary ml-3" id="consultarFacturas" type="submit">Consultar Información</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="row col-lg-12">
        @foreach (var ds in Model.Dashboard)
        {
            @if (ds.DServicio.Cedulas.Count() > 0)
            {
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Servicio de @ds.DServicio.Servicio.Nombre</h5>
                        </div>
                        <div class="card-body">
                            @if (ds.DServicio.Cedulas.Count() > 0)
                            {
                                <h6>Dashboard de servicios</h6>
                                <div class="row col">
                                    @foreach (var cd in ds.DServicio.Cedulas)
                                    {
                                        <div class="col-6 col-md-3 text-center">
                                            <input type="text" class="knob" value="@cd.PorcentajeAvance" data-width="90" data-height="90"
                                                   data-fgColor="@cd.FondoH">
                                            <div class="knob-label @cd.Fondo.Replace("bg","text") font-weight-bold">@cd.Estatus - @cd.Total cédula(s)</div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts
{
<script>
    $(function () {
        $(".cedulasServicio").click(function () {
            Swal.fire({
                allowOutsideClick: false,
                icon: "info",
                title: 'CASESG',
                html: "Obteniendo el detalle del estatus <b>" + $(this).data("estatus") + "</b>, por favor espere."
            })
            Swal.showLoading();
        });

        $('.facturasServicio').knob({
            max: $(this).data('maximo'),
            format: function (value) {
                return value.toFixed(2) + '%';
            },
            draw: function () {
                $(this.i).css('transform', 'rotate(0deg)').css('font-size', '11pt');
            }
        });

        $('.knob').knob({
            max: $(this).data('maximo'),
            format: function (value) {
                return value.toFixed(2) + '%';
            },
            draw: function () {
                $(this.i).css('transform', 'rotate(0deg)').css('font-size', '11pt');
            }
        });
    })
</script>
}