@inject Clients.Services.PermisosServicios smodulos;
@{
    List<Api.Gateway.Models.Modulos.DTOs.ModuloDto> modulos = await smodulos.GetModulosByUsuario(@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value);
}
<!-- Main Sidebar Container -->
<aside class="main-sidebar elevation-2" style="background-image: radial-gradient(circle at center, #fffffF, #e0ffff); ">
    <!-- Brand Logo -->
    <a href="/home" class="brand-link mb-2">
        <img src="~/img/Logo.png" alt="AdminLTE Logo" width="200">
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" style="font-size: 15px;">
                <li class="nav-item has-treeview" id="li_Inicio">
                    <a class="nav-link font-weight-bold" href="/" style="color: #2f1292">
                        <i class="fad fa-home mr-2"></i>
                        <p>
                            Inicio
                        </p>
                    </a>
                </li>
                @foreach (var mod in modulos)
                {
                    if (mod.ServicioId == null)
                    {
                        <li class="nav-item has-treeview mt-1 font-weight-bold" style="color: #2f1292 ">
                            <a href="/@mod.URL/@mod.Id/index" class="nav-link submodulo" style="color: #2f1292 " data-modulo="@mod.Nombre.Replace("_", " ")"
                               data-submodulo="@mod.Nombre">
                                @Html.Raw(@mod.Icono)
                                <p>
                                    @mod.Nombre
                                </p>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item has-treeview li_sub font-weight-bold">
                            <a href="#" class="nav-link" style="color: #2f1292 ">
                                @Html.Raw(@mod.Icono)
                                <p>
                                    @mod.Nombre.Replace("_"," ")
                                    <i class="right fas fa-angle-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @foreach (var sb in mod.Submodulos)
                                {
                                    <li class="nav-item font-weight-bold">
                                        <a href="/@sb.URL/@mod.Id/@sb.Id/index" class="nav-link ml-2 submodulo" style="color: #24135F" 
                                            data-submodulo="@sb.Nombre" data-modulo="@mod.Nombre.Replace("_", " ")">
                                            @Html.Raw(@sb.Icono)
                                            <p>@sb.Nombre</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>