@page "/comedor/cedulasEvaluacion/{moduloId}/{submoduloId}/index"
@model Clients.WebClient.Pages.Comedor.CedulasEvaluacion.IndexModel
@{

    <div class="titulo-principal">
        <b>Servicio de @Model.Servicio.Descripcion</b> <i class="fa-sharp fa-solid fa-fork-knife mr-2"></i>
    </div>

        ViewData["Title"] = "Servicio de " + Model.Servicio.Descripcion;
        ViewData["Action"] = "Inicio";
        var c = 0;
        var mesActual = DateTime.Now.Month;
        var FEAplicados = HttpContext.Request.Query["Estatus"].ToString()?.Split(",").ToList();
        var FIAplicados = HttpContext.Request.Query["Inmueble"].ToString().Split(",").ToList();
        var FMAplicados = new List<string>
            ();
            string mes = "";

            if (!HttpContext.Request.Query["Mes"].ToString().Equals(""))
            {
            FMAplicados = HttpContext.Request.Query["Mes"].ToString().Split(",").ToList();
            }
            //else
            //{
            //    mes = DateTime.Now.ToString("MMMM", System.Globalization.CultureInfo.CreateSpecificCulture("es")).ToLower();
            //    FMAplicados.Add(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(mes));
            //}
            if (!HttpContext.Request.Query["Inmueble"].ToString().Equals(""))
            {
            FIAplicados = HttpContext.Request.Query["Inmueble"].ToString().Split(",").ToList();
            }

            if (!HttpContext.Request.Query["Estatus"].ToString().Equals(""))
            {
            FEAplicados = HttpContext.Request.Query["Estatus"].ToString().Split(",").ToList();
            }
  }
            <div class="container-fluid">
                <form method="get" id="getAnio" asp-page-handler="GetAnio">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="label">Consultar información del año: </label>
                            <div class="input-group mb-3">
                                <select class="form-control" id="anioActual" asp-for="Anio">
                                    <option value="">Seleccione el Año</option>
                                    @for (var i = 2022; i <= DateTime.Now.Year; i++)
                                    {
                        <option value="@i">@i</option>}
                                </select>
                                <div class="row">
                                    <button class="btn btn-primary ml-3" id="consultarFacturas" type="submit">Consultar</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 d-flex">
                           
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="card w-100">
                                    <div class="row no-gutters">
                                        <div class="col-md-2 text-center mt-4">
                                            <img src="~/img/servicios/@String.Concat(@Model.Servicio.Id, ".png")" alt="" class="img-fluid" width="60" height="60">
                                        </div>
                                        <div class="col-9">
                                            <div class="card-body d-flex">
                                                <div class="col-5" style="border-right: 1px solid #ccc; padding-right: 15px; margin-right: 15px;">
                                                    <h6 class="card-subtitle mb-2"><strong>Contrato Anterior:</strong></h6>
                                                    <h6 class="card-subtitle mb-2">CON/DGRM/DCS/036/2024</h6>
                                                    <br />
                                                    <h6 class="card-subtitle mb-2"><strong>Vigencia:</strong></h6>
                                                    <h6 class="card-subtitle mb-2">Del 01 de enero 2024 al 31 de diciembre 2024</h6>
                                                </div>
                                                <div class="col-5">
                                                    <h6 class="card-subtitle mb-2"><strong>Convenio:</strong></h6>
                                                    <h6 class="card-subtitle mb-2"> CONV/DGRM/DCS/054/2024</h6>
                                                    <br />
                                                    <h6 class="card-subtitle mb-2"><strong>Vigencia:</strong></h6>
                                                    <h6 class="card-subtitle mb-2"> Del 01 de enero 2025 al 14 de marzo 2025</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-stretch">
                                <div class="card w-100 bg-gradient-yellow">
                                    <div class="row no-gutters">
                                        <div class="col-md-2 text-center mt-4">
                                            <img src="~/img/servicios/@String.Concat(@Model.Servicio.Id, ".png")" alt="" class="img-fluid" width="60" height="60">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h6 class="card-subtitle mb-2"><strong>Nuevo Contrato:</strong></h6>
                                                        <h6 class="card-subtitle mb-2"><span style="color: red; font-size: 1.05em;"><strong>CON/DGRM/DCS/023/2025</strong></span></h6>
                                                        <br>
                                                        <h6 class="card-subtitle mb-2"><strong>Vigencia:</strong></h6>
                                                        <h6 class="card-subtitle mb-2">Del 17 de marzo 2025 al 31 de diciembre 2025</h6>

                                                    </div>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                @if (Model.Anio != 0 && Model.Cedulas.Items != null)
                {
                    <div class="row mt-3">
                        <section class="col-xl-10 connectedSortable">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title" style="color: #24135f; text-align: center; ">
                                        <b>Cédulas de Evaluación del Año @Model.Anio</b>
                                    </strong>
                                    <div style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#miModal" style="background-color: #24135f; border-color: red; font-size: 1em; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);">
                                            ¡Ver Información Importante de Marzo!
                                        </button>
                                    </div>

                                </div>
                                <div class="card-body" style="font-size: 14px;">
                                    <table class="table cedulasEvaluacion row-border" width="100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Año</th>
                                                <th>Mes</th>
                                                <th>Inmueble</th>
                                                <th>Folio</th>
                                                @*<th>Tipo de Servicio</th>*@
                                                <th>Estatus</th>
                                                <th style="color: #24135f; font-weight: bold; font-size: 1.2em; text-align: center;">Contrato</th>
                                                <th class="text-center">Calificación</th>
                                                @if (Model.Anio > 2023)
                                                {
                                                    <th>Factura</th>
                                                    <th>Total NC</th>
                                                    <th>Total Deductivas sin IVA</th>
                                                }
                                                <th class="text-center">Requiere NC</th>
                                                <th>Validación</th>
                                                <th>Última actualización</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var cedula in Model.Cedulas.Items)
                                            {
                                                c++;
                                            <tr>
                                                <td>@c</td>
                                                <td>@cedula.Anio</td>
                                                <td>@cedula.Mes</td>
                                                <td>@cedula.Inmueble</td>
                                                <td>@cedula.Folio</td>
                                                @*<td>@cedula.Servicio</td>*@
                                                <td class="@(cedula.Fondo.Replace("bg","text")) font-weight-bold">@cedula.Estatus</td>
                                                <td>
                                                    @if (cedula.ContratoId == 2)
                                                    {
                                                        <p style="color: black;">CON/DGRM/DCS/036/2024</p>
                                                    }
                                                    else if (cedula.ContratoId == 3)
                                                    {
                                                        <strong style="color: red;">CON/DGRM/DCS/023/2025</strong>
                                                    }
                                                </td>
                                                <td class="text-center">@(cedula.Calificacion != 0 ? cedula.Calificacion.ToString() : "-")</td>
                                                @if (cedula.Anio > 2023)
                                                {
                                                    <td class="text-right">@String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C}", @cedula.Factura)</td>
                                                    <td class="text-right">@String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C}", @cedula.NC)</td>
                                                    <td class="text-right">@String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C}", @cedula.TotalDeductivas)</td>
                                                }
                                                <td class="text-center">@Html.Raw(cedula.TotalDeductivas != 0 ? "<b class='text-danger'>Si</b>" : "<b class='text-success'>No</b>")</td>
                                                <td>
                                                    @if (cedula.Cedula)
                                                    {
                                                        <i class="fa-regular fa-check text-success mr-2" data-toggle="tooltip" title="Cédula validada" data-placement="top"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-regular fa-clipboard-check text-danger mr-2" data-toggle="tooltip" title="Cédula pendiente de validar" data-placement="top"></i>
                                                    }

                                                    @if (cedula.Memorandum == true)
                                                    {
                                                        <i class="fa-regular fa-check text-success mr-2" data-toggle="tooltip" title="Memorándum validado" data-placement="top"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-regular fa-clipboard-check text-danger mr-2" data-toggle="tooltip" title="Memorándum pendiente de validar" data-placement="top"></i>
                                                    }

                                                    @if (cedula.ActaFirmada)
                                                    {
                                                        <i class="fa-regular fa-file-check text-success" data-toggle="tooltip" title="Acta Entrega - Recepción" data-placement="top"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="fa-regular fa-file-xmark text-danger" data-toggle="tooltip" title="Acta Entrega - Recepción pendiente de validar" data-placement="top"></i>
                                                    }
                                                </td>

                                                <td>
                                                    @(
                                            Convert.ToDateTime(cedula.FechaActualizacion).ToString("dd/MM/yyyy").Equals("01/01/0001") ?
                                            Convert.ToDateTime(cedula.FechaCreacion).ToString("dd/MM/yyyy hh:mm tt") :
                                            Convert.ToDateTime(cedula.FechaActualizacion).ToString("dd/MM/yyyy hh:mm tt")
                                        )
                                                </td>
                                                <td class="text-center">
                                                    <a class="btnRevision" href="javascript:" data-cedula="@cedula.Id" data-inmueble="@cedula.InmuebleId"
                                                       data-toggle="tooltip" title="Seguimiento de la Cédula" data-placement="top">
                                                        <i class="fad fa-eye text-success"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                        <section class="col-xl-2 connectedSortable">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Filtros de Búsqueda
                                        <button id="recargarPagina" class="btn btn-primary" data-toggle="tooltip" title="Reiniciar Filtros">
                                            <i class="fa-regular fa-arrows-rotate"></i>
                                        </button>
                                    </h3>
                                </div>

                                <div class="card-body" style="font-size: 15px; color: #24135f;">
                                    <div class="row col-lg-12 mt-2">
                                        <div class="col-lg-12">
                                            <b>Meses:</b>
                                            <a class="btn-sm bg-primary btnMes float-right btn-custom-primary" data-target="#btnMes" data-toggle="collapse">
                                                <i class="fas fa-minus"></i>
                                            </a>
                                        </div>
                                        @foreach (var ms in Model.FiltrosMes)
                                        {
                                            <div class="col-lg-12 show ml-3" id="btnMes" style="font-size: 14x; color: #000000;">
                                                <label class="checkbox-inline">
                                                    @if (FMAplicados.Contains(ms.Nombre))
                                                    {
                                                        <input class="selectMes" type="checkbox" data-toggle="toggle"
                                                               data-on="<i class='fa fa-check' style='margin-top: -2px;'></i>"
                                                               data-off="<i class='fa fa-times' style='margin-top: -2px;'></i>" data-size="mini"
                                                               data-onstyle="success" data-offstyle="danger" data-style="ios" value="@ms.Nombre" checked> @ms.Nombre
                                                        }
                                                        else
                                                        {
                                                            <input class="selectMes" type="checkbox" data-toggle="toggle"
                                                                   data-on="<i class='fa fa-check' style='margin-top: -2px;'></i>"
                                                                   data-off="<i class='fa fa-times' style='margin-top: -2px;'></i>" data-size="mini"
                                                                   data-onstyle="success" data-offstyle="danger" data-style="ios" value="@ms.Nombre"> @ms.Nombre
                                                            }
                                                </label>
                                            </div>
                                        }
                                    </div>
                                    <div class="row col-lg-12 mt-2">
                                        <div class="col-lg-12">
                                            <b>Estatus:</b>
                                            <a class="btn-sm bg-primary btnEstatuss float-right btn-custom-primary" data-target="#btnEstatus" data-toggle="collapse">
                                                <i class="fas fa-minus"></i>
                                            </a>
                                        </div>
                                        @foreach (var es in Model.FiltrosEstatus)
                                        {
                                            <div class="col-lg-12 show ml-3" id="btnEstatus" style="font-size: 14px; color: #000000;">
                                                <label class="checkbox-inline">
                                                    @if (FEAplicados.Contains(es.Nombre))
                                                    {
                                                        <input class="selectEstatus" type="checkbox" data-toggle="toggle"
                                                               data-on="<i class='fa fa-check' style='margin-top: -2px;'></i>"
                                                               data-off="<i class='fa fa-times' style='margin-top: -2px;'></i>" data-size="mini"
                                                               data-onstyle="success" data-offstyle="danger" data-style="ios" value="@es.Nombre" checked> @es.Nombre
                                                        }
                                                        else
                                                        {
                                                            <input class="selectEstatus" type="checkbox" data-toggle="toggle"
                                                                   data-on="<i class='fa fa-check' style='margin-top: -2px;'></i>"
                                                                   data-off="<i class='fa fa-times' style='margin-top: -2px;'></i>" data-size="mini"
                                                                   data-onstyle="success" data-offstyle="danger" data-style="ios" value="@es.Nombre"> @es.Nombre
                                                            }
                                                </label>
                                            </div>
                                        }
                                    </div>
                                    <div class="row col-lg-12 mt-2" id="divInmuebles">
                                        <div class="col-lg-12">
                                            <b>Inmuebles:</b>
                                            <a class="btn-sm bg-primary btnInmuebles float-right btn-custom-primary" data-target="#btnInmueble" data-toggle="collapse">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                        </div>
                                        <div class="col-lg-12 example-1 scrollbar-deep-purple mt-2">
                                            <div class="row col-lg-12 mb-2 mt-2">
                                                <div class="form-group">
                                                    <label for="inputsm">Buscar: </label>
                                                    <input class="form-control input-sm searchToggle" id="searchToggle" type="text">
                                                </div>
                                            </div>
                                            @foreach (var inm in Model.FiltrosInmueble)
                                            {
                                                <div class="col-lg-12 collapse inmuebles inm_@inm.AdministracionId inmu_@inm.Nombre ml-3" id="btnInmueble" style="font-size: 14px; color: #000000;">
                                                    <label class="checkbox-inline">
                                                        @if (FIAplicados.Contains(inm.Nombre))
                                                        {
                                                            <input class="selectInmueble" id="inm_@inm.Id" type="checkbox" data-toggle="toggle" data-abreviacion="@inm.Id"
                                                                   data-on="<i class='fa fa-check' style='margin-top: -2px;'></i>"
                                                                   data-off="<i class='fa fa-times' style='margin-top: -2px;'></i>" data-size="mini"
                                                                   data-onstyle="success" data-offstyle="danger" data-style="ios" value="@inm.Nombre" checked> @inm.Abreviacion
                                                            }
                                                            else
                                                            {
                                                                <input class="selectInmueble" id="inm_@inm.Id" type="checkbox" data-toggle="toggle" data-abreviacion="@inm.Id"
                                                                       data-on="<i class='fa fa-check' style='margin-top: -2px;'></i>"
                                                                       data-off="<i class='fa fa-times' style='margin-top: -2px;'></i>" data-size="mini"
                                                                       data-onstyle="success" data-offstyle="danger" data-style="ios" value="@inm.Nombre"> @inm.Abreviacion
                                                                }
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                }
            </div>

                @*************MODAL DE AVISO MARZO*****@
                        <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content" style="background-color: #ffffff;"> <div class="modal-header" style="background-color: #24135f; color: white;"> <h5 class="modal-title" id="miModalLabel">¡IMPORTANTE!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" style="color: white;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="color: #333;"> <span style="color: black; font-weight: bold;">Para la evaluación del mes de Marzo, se encontrarán 2 cédulas correspondientes al mismo inmueble.</span>
                            <br>Para diferenciarlas, se utilizará el número de Contrato que se encuentra en la columna respectiva.
                            <br>
                            <span style="color: #24135f; font-weight: bold;">La Nueva Cédula correspondiente al Nuevo Contrato se encuentra</span> <span style="color: red; font-weight: bold;">resaltada en color rojo</span> <span style="color: #24135f; font-weight: bold;">para su fácil identificación.</span>
                              <div style="text-align: center;">
                                <img src="~/img/NuevaCedulaMarzo.png" class="img-fluid" alt="Nueva Cedula Ejemplo">
                                  <br>
                                  <span style="color: red; font-weight: bold;">LA EVALUACIÓN DE ÉSTA COMPRENDE EL SERVICIO DEL 18 AL 31 DE MARZO</span>

                            </div>
                        </div>
                        <div class="modal-footer" style="background-color: #e0d4ff;"> <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #24135f; border-color: #5e35b1; ">Entendido</button>
                        </div>
                    </div>
                </div>
            </div>


            <style>
                .titulo-principal {
                    font-family: Arial, sans-serif;
                    font-size: 20px;
                    color: #24135f;
                    text-align: left;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                    animation: fadeIn 2s ease-in-out;
                    font-weight: bold;
                    position: relative; /* Agrega esta línea */
                    top: -20px; /* Ajusta el valor según sea necesario */
                    right: -10px;
                }

                @@keyframes fadeIn {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }
                .example-1 {
                    position: relative;
                    overflow-y: scroll;
                    height: 300px;
                    display: none;
                }

                #recargarPagina {
                    cursor: pointer;
                    font-size: 12px; /* Ajusta el tamaño de la fuente según tus necesidades */
                    padding: 3px 6px;
                    transition: background-color 0.3s ease;
                }

                .btn-custom-primary {
                    background-color: #24135f !important;
                    border-color: #24135f !important;
                }

                .scrollbar-deep-purple::-webkit-scrollbar-track {
                    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
                    background-color: #F5F5F5;
                    border-radius: 10px;
                }

                .scrollbar-deep-purple::-webkit-scrollbar {
                    width: 8px;
                    background-color: #F5F5F5;
                }

                .scrollbar-deep-purple::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
                    background-color: #512da8;
                }

                .scrollbar-deep-purple {
                    scrollbar-color: #512da8 #F5F5F5;
                }
            </style>

            @section Scripts{
                <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            var anio = @Html.Raw(Json.Serialize(DateTime.Now.Year))
            var anioM = @Html.Raw(Json.Serialize(Model.Anio));
            var servicio = @Html.Raw(Json.Serialize(Model.Servicio));
            var mesActual = @Html.Raw(Json.Serialize(mesActual));

            var filtroMes = @Html.Raw(Json.Serialize(Model.FiltrosMes));
            var filtroInmuebles = @Html.Raw(Json.Serialize(FIAplicados));
            var filtroEstatus = @Html.Raw(Json.Serialize(FEAplicados));

            var estatus = [];
            var inmuebles = [];
            var mes = [];

            $('[data-toggle="tooltip"]').tooltip();

            var table = $('.cedulasEvaluacion').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        title: 'Listado de Cédulas de Evaluación',
                        className: "bg-cjf mr-1",
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Listado de Cédulas de Evaluación',
                        className: "bg-cjf mr-1",
                        orientation: "landscape"
                    },
                    {
                        extend: 'print',
                        title: 'Listado de Cédulas de Evaluación',
                        text: 'Imprimir',
                        className: "bg-cjf mr-1"
                    }
                ],
                lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Todos"]],
                responsive: true,
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
            });

            document.getElementById("anioActual").value = "2025";

            $("#anioActual").val(anioM != 0 ? anioM : anio);

            $(".moreInformation").click(function () {
                Swal.fire({
                    allowOutsideClick: false,
                    icon: "info",
                    title: "Servicio de " + servicio.descripcion,
                    html: "Obteniendo el listado de cédulas de <b>" + $(this).data('mes') + " - " + $("#anioActual").val() + "</b>."
                })
                Swal.showLoading();
            });

            $('#getAnio').validate({
                rules: {
                    Anio: {
                        required: true,
                    },
                },
                messages: {
                    Anio: {
                        required: "Por favor seleccione el año a consultar",
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.input-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                },
                submitHandler: function (form) {
                    Swal.fire({
                        allowOutsideClick: false,
                        icon: "info",
                        title: "Servicio de " + servicio.descripcion,
                        html: "Obtiendo las cédulas del año <b>" + $("#anioActual").val() + "</b>."
                    })
                    Swal.showLoading();
                    form.submit();
                }
            });

            $(document).on("click", ".btnRevision", function () {
                Swal.fire({
                    allowOutsideClick: false,
                    icon: "info",
                    title: 'Servicio de ' + servicio.descripcion,
                    html: "Obteniendo el detalle de la cédula, espere por favor."
                });
                Swal.showLoading();
                window.location.href = "/comedor/@Model.Modulo.Id/@Model.Submodulo.Id/detalle/" + $(this).data('inmueble') + "/" + $(this).data('cedula') +
                    "?Estatus=" + estatus + "&Inmueble=" + inmuebles + "&Mes=" + mes;
            });

            document.getElementById("recargarPagina").addEventListener("click", function () {
                location.reload();
            });

            /******************** Filtros *******************/

            $(".btnMes").click(function () {
                if ($(".btnMes > i").hasClass("fas fa-plus")) {
                    $(".btnMes > i").removeClass("fas fa-plus");
                    $(".btnMes > i").addClass("fas fa-minus");
                } else {
                    $(".btnMes > i").removeClass("fas fa-minus");
                    $(".btnMes > i").addClass("fas fa-plus");
                }
            });

            $('.selectMes').on('change', function () {
                mes = [];
                $(".selectMes").each(function () {
                    var activo = $(this).parent().hasClass("off");
                    if (activo == false) {
                        mes.push($(this).val());
                    }
                });

                var mergedVal = mes.join('|').replace("&", "\\&").replace(/\s/g, "\\s");
                table.column(2).search(mergedVal, true).draw();
            });

            $(".btnEstatuss").click(function () {
                if ($(".btnEstatuss > i").hasClass("fas fa-plus")) {
                    $(".btnEstatuss > i").removeClass("fas fa-plus");
                    $(".btnEstatuss > i").addClass("fas fa-minus");
                } else {
                    $(".btnEstatuss > i").removeClass("fas fa-minus");
                    $(".btnEstatuss > i").addClass("fas fa-plus");
                }
            });

            $('.selectEstatus').on('change', function () {
                estatus = [];
                $(".selectEstatus").each(function () {
                    var activo = $(this).parent().hasClass("off");
                    if (activo == false) {
                        estatus.push($(this).val());
                    }
                });

                var mergedVal = estatus.join('|').replace("&", "\\&").replace(/\s/g, "\\s");
                table.column(6).search(mergedVal, true).draw();
            });

            $(".btnInmuebles").click(function () {
                if ($(".btnInmuebles > i").hasClass("fas fa-plus")) {
                    $(".btnInmuebles > i").removeClass("fas fa-plus");
                    $(".btnInmuebles > i").addClass("fas fa-minus");
                    $(".example-1").css("display", "block");
                } else {
                    $(".btnInmuebles > i").removeClass("fas fa-minus");
                    $(".btnInmuebles > i").addClass("fas fa-plus");
                    $(".example-1").css("display", "none");
                }
            });

            $('.selectInmueble').on('change', function () {
                inmuebles = [];
                $(".selectInmueble").each(function () {
                    var activo = $(this).parent().hasClass("off");
                    if (activo == false) {
                        inmuebles.push($(this).val());
                    }
                });
                var mergedVal = inmuebles.join('|').replace("&", "\\&").replace(/\s/g, "\\s");
                table.column(3).search(mergedVal, true).draw();
            });

            $(".searchToggle").on('keydown', function () {
                $(".inmuebles").hide();
                const search = document.getElementById("searchToggle");
                const labels = document.querySelectorAll("#btnInmueble > label");
                Array.from(labels).forEach((element) => {
                    if (element.childNodes[1].childNodes[0].value.toLowerCase().includes(search.value.toLowerCase())) {
                        $(".inm_" + element.childNodes[1].childNodes[0].getAttribute('data-abreviacion')).show();
                    }
                });
            });






            if (filtroMes != "") {
                mes = [];
                $(".selectMes").each(function () {
                    var activo = $(this).parent().hasClass("off");
                    if (activo == false) {
                        mes.push($(this).val());
                    }
                });
                var mergedVal = mes.join('|').replace("&", "\\&").replace(/\s/g, "\\s");
                table.column(2).search(mergedVal, true).draw();
            }


            if (filtroInmuebles != "") {
                inmuebles = [];
                $(".selectInmueble").each(function () {
                    var activo = $(this).parent().hasClass("off");
                    if (activo == false) {
                        inmuebles.push($(this).val());
                    }
                });
                var mergedVal = inmuebles.join('|').replace("&", "\\&").replace(/\s/g, "\\s");
                table.column(3).search(mergedVal, true).draw();
            }

            if (filtroEstatus != "") {
                estatus = [];
                $(".selectEstatus").each(function () {
                    var activo = $(this).parent().hasClass("off");
                    if (activo == false) {
                        estatus.push($(this).val());
                    }
                });

                var mergedVal = estatus.join('|').replace("&", "\\&").replace(/\s/g, "\\s");
                table.column(5).search(mergedVal, true).draw();
            }
            /******************** Filtros *******************/
        });

                    $(document).ready(function () {
                        var mostrarContadorStr = localStorage.getItem('modalMostrarContador');
                        var mostrarContador = mostrarContadorStr ? parseInt(mostrarContadorStr, 10) : 0;
                        var maxMostrarVeces = 8; // Define cuántas veces quieres que aparezca el modal
                        var miModal = $('#miModal'); // Reemplaza 'miModal' con el ID de tu modal

                        if (mostrarContador < maxMostrarVeces) {
                            miModal.modal('show'); // Muestra el modal
                            mostrarContador++;
                            localStorage.setItem('modalMostrarContador', mostrarContador.toString()); // Incrementa y guarda el contador
                        }
                    });
                </script>
            }
